#r
{
    background-color: bisque;
    height: 300px;
    width: auto;

}
#r1
{
    background-color: rgb(145, 145, 98);
    height: 300px;
    width: 467px;
    float: left;

}
#r2
{
    background-color: rgb(91, 117, 138) ;
    height: 300px;
    width: 467px;
    float: left;
}
#r3
{
    background-color: rgb(151, 180, 180);
    height: 300px;
    width: 467px;
    float: left;

}
#r4
{
    
    background-color: rgb(207, 195, 179);
    height: 300px;
    width:1400px;
    float: left;
}
#r5
{
    background-image: url(kolhapur1.jpg);
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
    
}